version: "3.8"
services:
  application:
    image: registry.gitlab.com/churl/videorandomizer
    container_name: "videorandomizer_app"
    depends_on:
      - database
    command: [ "/app/wait-for-it.sh", "videorandomizer_mongo:27017", "--", "java", "-Dspring.profiles.active=docker", "-jar", "/app/videorandomizer.jar" ]
    ports:
      - '8080:8080'

  database:
    image: "mongo:5.0.5"
    container_name: "videorandomizer_mongo"
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=dev
      - MONGO_INITDB_ROOT_PASSWORD=dev_pass
    ports:
      - "27017:27017"
    volumes:
      - ./storage:/data/db
