@layer components {
    header {
        @apply py-5;
        @apply bg-gray-500 fixed w-full top-0 shadow-lg;
    }

    main {
        @apply w-3/4 mt-20 mx-auto;
    }

    .cnt-card {
        @apply bg-gray-100 rounded-md drop-shadow-md w-full pb-10;
    }
}
